<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <sessionState timeout="60" mode="InProc"/>
    <pages validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="4.0"/>
    <httpRuntime requestValidationMode="2.0" executionTimeout="1200" maxRequestLength="10240000"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="BDDefensoria" value="Server=localhost\SQLEXPRESS;Database=defensoria;Trusted_Connection=True" />
	<add key="ArchivosCredito" value="C:\Ultimus\ArchivosCreditoDir\"/>
    <add key="AnexosCredito" value="C:\Ultimus\AnexosCreditoDir\"/>
    <add key="ServicioT24" value="http://EXTBACMQT1:8080/"/>
    <add key="ServicioListasEspeciales" value="http://EXTBACMQT1:8080/"/>
    <add key="ServicioProceso" value="http://vmdformax/PLWebServices/Credito_Directo_Empresarial.asmx"/>
    <add key="UltimusMapa" value="http://vmdformax/ultweb/ultthinclient/MainIncidentStatus.aspx"/>
    <add key="UserNameT24" value="0"/>
    <add key="PasswordT24" value="0"/>
    <add key="UserNameVIGIA" value="0"/>
    <add key="PasswordVIGIA" value="0"/>
    <add key="UserLogged" value="0"/>
    <add key="RemoteBPM" value="vmdformax"/>
    <add key="UltimusProceso" value="Credito Directo Empresarial"/>
    <add key="UltimusVersion" value="1"/>
    <add key="LogPath" value="C:\Ultimus"/>
    <add key="DocumentacionPath" value="C:\Ultimus\Adjuntos"/>
    <add key="OnBaseTransferPath" value="C:\Ultimus\OnBase"/>
    <add key="CentinelaTimeOut" value="40000"/>
    <add key="HabilitaCentinela" value="0"/>
    <add key="HabilitaT24" value="0"/>
    <add key="ProductoProjectFinance" value="3"/>
    <add key="DiasVencimientoAplazado" value="1"/>
    <add key="TipoNIT" value="3"/>
    <add key="PaisDefecto" value="169"/>
    <add key="TipoProductoLiquidexPlus" value="4|5"/>
    <add key="RecipientUser" value="USER:org=bancoldex.com, user=bancoldex.com/%USER%"/>
    <add key="MonedaUSD" value="1"/>
    <add key="TasaUSD" value="4020"/>
    <add key="MontoMaximoComiteInterno" value="2000000000"/>
  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=yes'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=yes'"/>
    <add name ="connBD" connectionString="Server=localhost\\SQLEXPRESS; database=defensoria; Trusted_Connection=True" providerName="System.data.sqlclient"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicesSoap" />
        <binding name="UltimusBISSoap" />
        <binding name="BasicHttpBinding_IServicioIntegracion" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vmdformax/UltWeb/ClientServicesWS/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicesSoap"
        contract="ClientServicesWS.ServicesSoap" name="ServicesSoap" />
      <endpoint address="http://vmdformax/UltWeb/UltimusBIS/UltimusBIS.asmx"
        binding="basicHttpBinding" bindingConfiguration="UltimusBISSoap"
        contract="UltimusBIS.UltimusBISSoap" name="UltimusBISSoap" />
      <endpoint address="http://localhost/BANCOLDEX.IntegracionOnbase.WCF/ServicioIntegracion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioIntegracion"
        contract="WcfCorrespondenciaRecibida.IServicioIntegracion" name="BasicHttpBinding_IServicioIntegracion" />
    </client>
  </system.serviceModel>
</configuration>